/* --------------------------------Overall CSS----------------------------------- */
body {
  background-image: url("../images/July-18.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #000000;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

main {
  padding-top: 1rem;
}

main h1, h2 {
  color: #FFFFFF;
  font-weight: 500;
}

main h3 {
  color: #FFFFFF;
  margin: 15px 2rem 15px 2rem;
}

.logo {
  padding-right: 3rem;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  max-width: 1280px;
  color: white;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
}

.main-wrapper h3 {
  font-weight: 500;
  color: #000000;
}

/* --------------------------------Homepage----------------------------------- */
.home-img {
  padding: 1rem;
}

.home-img img {
  width: 100%;
}

.quote {
  background-color: transparent;
  color: #000000;
  padding: 2rem;
  margin: 5px;
  font-family: 'Dosis', sans-serif;
}

.news-text {
  background-color: transparent;
  color: #000000;
  grid-row: 3/4;
  padding: 0 2rem .5rem 2rem;
  margin: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.news-text h2 {
  color: #000000;
  margin-bottom: 0;
}

.news-text p {
  margin-top: 0;
}

.contact-box {
  grid-row: 5/6;
}

.form-all #header_3 {
  color: red;
}

.form-line-active {
  background-color: #FFFFFF;
}

/* --------------------------------Bio----------------------------------- */
.bio-text {
  background-color: #000000;
  padding: 0 2rem 5rem 2rem;
  margin: 5px;
  font-size: 18px;
}

.bio-text p {
  margin-top: 0;
  margin-bottom: 0;
}

.bio-text img {
  width: 80%;
  padding: 1rem;
}

/* --------------------------------Videos----------------------------------- */
.video-gallery {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: .5rem
}

.video-box1 {
  background-color: #000000;
  margin: 1rem;
  margin-right: 1.5rem;
}

.video-box1 iframe {
  width: 100%;
}

.audio-player-style {
  display: grid;
  margin: 10px;
}

.audio-player-style audio {
  width: 100%;
}

.audio-caption {
  grid-row: 4/5;
  padding-bottom: 80px;
  font-size: 12px;
  margin: 0 auto;
}

.audio-caption p {
  color: #000000;
}

/* --------------------------------Photos----------------------------------- */
.fade-slider {
  width: 250px;
  margin-top: 2rem;
  margin: 2rem auto;
}

.slick-prev::before {
  content: '<';
  color: black;
  font-weight: bold;
}

.slick-next::before {
  content: '>';
  color: black;
  font-weight: bold;
}

.slick-dots li.slick-active button::before {
  font-size: 20px;
}

.slick-dots li button::before {
  font-size: 20px;
}

.slick-active {}

.photo-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
  margin: .5rem;
  padding-bottom: 80px;
}

.pic-box {
  background-color: #000000;
}

.pic-box img {
  width: 100%;
}

/* --------------------------------Performances----------------------------------- */
.perform-text {
  color: #000000;
  padding: 1.5rem;
}

.perform-text a {
  color: #000000;
  font-weight: bold;
}

.perform-text a:hover {
  color: #000000;
}

.head-style {
  color: #000000;
}

.gigs-table {
  grid-row: 2;
  color: #000000;
  padding: 1.5rem;
  padding-bottom: 80px;
  font-size: 15px;
}

.border-spacing {
  border-collapse: collapse;
  border-spacing: 0 15px;
}

.gigs-table th {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  text-align: center;
  padding-bottom: .5rem;
}

.gigs-table td {
  display: block;
  border-bottom: navajowhite;
  padding-bottom: 1rem;
}

.bottom-border td {
  border-bottom: hidden;
}

tr {
  border-bottom: solid 1px gray;
}

/* --------------------------------Contact----------------------------------- */
.contact-text{
  color: #000000;
}

/* --------------------------------More Overall CSS----------------------------------- */
header {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem;
}

h1 {
  font-size: 55px;
  margin: 0;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  font-weight: 400;
}

header, h1, h2, h3 {
  font-family: 'Dosis', sans-serif;
}

/* div{
  padding:7%;
  font-size:1.5rem;
  text-align:justify;
} */
.logo {
  padding-left: 2rem;
}

.logo a {
  color: #000000;
  text-decoration: none;
}

nav {
  /* display:block;
  position:fixed; */
  width: 100%;
  border-bottom: 1px solid gray;
  text-align: right;
  height: 60px;
  line-height: 60px;
  font-size: 1.2rem;
}

nav ul {
  margin: 0 30px 0 0;
  padding: 0;
}

nav li {
  list-style: none;
}

label {
  float: right;
  margin: 0 30px 0 0;
  display: none;
  font-size: 26px;
}

nav ul a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

nav ul a:hover,
nav ul a.active {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  color: #90ee90;
  text-shadow: 0px 0px rgba(143, 243, 201, 1);
}

nav.shrink {
  width: 100%;
  transition: all 0.1 ease;
  /* background: rgba(0, 0, 0, 0.8); */
  font-size: 1rem;
}

label {
  float: right;
  margin: 0 30px 0 0;
  font-size: 26px;
  display: none;
}

#toggle {
  display: none;
}

footer {
  background: #fff;
  display: grid;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

@media only screen and (min-width: 768px) {
  .main-wrapper {
    background: rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(50px, auto));
    gap: 10px;
  }

  .main-wrapper h3 {
    grid-column: 4/10;
  }

  nav ul a {
    color: #000000;
  }

  nav li {
    list-style: none;
    display: inline-flex;
  }

  main h3 {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }

  /* --------------------------------Homepage----------------------------------- */
  .home-img {
    grid-column: 1/5;
    grid-row: 2/4;
    padding-left: 2rem;
  }

  .home-img img {
    width: 100%;
  }

  .quote {
    background-color: transparent;
    color: #000000;
    grid-column: 5/13;
    grid-row: 2/3;
    margin: 0 2rem 0 2rem;
  }

  .news-text {
    background-color: transparent;
    color: #000000;
    grid-column: 5/13;
    grid-row: 3/4;
    margin: 0 2rem 0 2rem;
  }

  .contact-box {
    grid-column: 1/13;
    grid-row: 5/6;
  }

  /* --------------------------------Bio----------------------------------- */
  .bio-text {
    background-color: #000000;
    grid-column: 1/13;
    margin: 2rem;
    padding: 0 2rem 0rem 2rem;
  }

  .bio-text p {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .bio-text img {
    width: 35%;
    float: right;
    padding: 1rem;
  }

  .stamps-pic {
    clear: both;
  }

  .bio-text .stamps-pic img {
    float: left;
  }

  /* --------------------------------Videos----------------------------------- */
  .video-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/13;
  }

  .video-box1 {
    background-color: #000000;
    margin: 1rem;
  }

  .audio-player-style {
    grid-column: 3/11;
  }

  .audio-caption {
    grid-column: 3/11;
    text-align: center;
    font-size: 18px;
    margin: 0;
  }

  .audio-player-style audio {
    width: 500px;
  }

  /* --------------------------------Photos----------------------------------- */
  .fade-slider {
    width: 560px;
    grid-column: 1/13;
  }

  .slick-dots li.slick-active button::before {
    font-size: 30px;
  }

  .slick-dots li button::before {
    font-size: 30px;
  }

  .photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/13;
    grid-row: 2/6;
  }

  .pic-box {
    background-color: #000000;
  }

  /* --------------------------------Performances----------------------------------- */
  .perform-text {
    grid-column: 4/10;
    padding: 1.5rem 1rem .5rem 1rem;
  }

  .gigs-table {
    grid-row: 2;
    grid-column: 1/13;
    font-size: 18px;
    padding-bottom: 1.5rem;
  }

  .border-spacing {
    border-collapse: separate;
    border-spacing: 0 15px;
  }

  .gigs-table td {
    border-bottom: 1px solid;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
  }

  .bottom-border td {
    border-bottom: hidden;
  }

  .gigs-table td {
    display: table-cell;
  }

  /* --------------------------------Contact----------------------------------- */
  .contact-text{
    grid-column: 4/10;
  }
}

@media only screen and (max-width: 500px) {
  .mobile {
    margin: 0;
    background-color: black;
    font-size: 1.2rem;
    z-index: 50;
  }

  .mobile shrink {
    font-size: 1.2rem;
  }

  .mobile label {
    display: block;
    cursor: pointer;
    color: white;
  }

  .mobile ul {
    margin: 0%;
    text-align: center;
    display: none;
  }

  .mobile ul a {
    clear: right;
    margin: 0;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    vertical-align: middle;
  }

  .mobile ul a:hover {
    background-color: rgba(143, 243, 201, 1);
    color: black;
  }

  #toggle:checked+ul {
    display: block;
  }
}
