body {
  background-color: #DCC0B5;
  background-image: url("../images/anders-jilden-italy-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  font-family: 'Lora', serif;
  font-size: 18px;
}

main {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem 3rem 2rem 3rem;
  width: 60%;
  margin: 2rem auto;

}

header {}

.serving-size {
  font-size: 30px;
}

h1 {
  color: #A62525;
  font-size: 38px;
}

h1 span {
  font-size: 38px;
}

h1, h2, .serving-size {
  font-family: 'Cormorant', serif;
}

h1 span, .serving-size {
  color: #2E8030;
}

.hide {
  display: none;
}

button {
  background: #BF5136;
  font-size: 32px;
  color: white;
}

.pasta-picture img{
  width: 80%;
  padding-bottom: 1rem;
}

/* Step #1 - Ingredients */
.hook {
  font-size: 20px;
}

/* Step #2 - Cooking the Pasta */
.cook-pasta {

}

/* Step #3 - Making the Sauce */
.prepare-sauce {

}

/* Step #4 - Presentation */
.presentation {

}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;

}


/* Step #5 - Enjoy */
.enjoy {

}

.wine h1{

}

.closing {
  color: #2E8030;
}

cite a{
  font-size: 12px;
  color: #275407;
}

button {
  background: #B33B1B;
  font-family: 'Lora', serif;
  font-size: 25px;
  padding: 1px .5rem;
  margin-bottom: .5rem;
}

/* Beginning of Media Queries */

@media only screen and (min-width: 768px) {

  body {
    background-color: #DCC0B5;
    font-size: 22px;
  }

  main {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 3rem 2rem 3rem;
    width: 60%;
    margin: 0 auto;

  }

  .serving-size {
    font-size: 30px;
  }

  h1 {
    color: #A62525;
    font-size: 42px;
  }

  h1 span {
    font-size: 42px;
  }

  .pasta-picture img{
    width: 50%;
    padding-bottom: 1rem;
  }

  /* Step #1 - Ingredients */
  .hook {
    font-size: 22px;
  }

  /* Step #2 - Cooking the Pasta */
  .cook-pasta {

  }

  /* Step #3 - Making the Sauce */
  .prepare-sauce {

  }

  /* Step #4 - Presentation */
  .presentation {

  }

  /* Step #5 - Enjoy */
  .enjoy {

  }

  cite {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
  }

  cite a{
    font-size: 15px;
    color: #275407;
  }
}

@media only screen and (min-width: 1024px) {

  body {
    background-color: #DCC0B5;
    font-size: 18px;
  }

  main {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 3rem 2rem 3rem;
    width: 50%;
    margin: 0 auto;

  }

  .pasta-picture img{
    width: 35%;
    padding-bottom: 1rem;
  }

  h1 {
    color: #A62525;
    font-size: 48px;
  }

  h1 span {
    font-size: 48px;
  }

  /* Step #1 - Ingredients */
  .hook {
    font-size: 20px;
  }


}
