body {
  background-color: #DCC0B5;
  font-family: 'Lora', serif;
  font-size: 22px;
}

main {
  /* background: url("../images/5136837757_def41a9f2e_c.jpg") no-repeat top right fixed;
  min-height: 100%;
  min-width: `100%`
  position: fixed; */
  padding: 0 2rem;



}

header {}

.serving-size {
  font-size: 30px;
}

h1 {
  color: #A62525;
  font-size: 45px;
  /* transform: rotate(12deg);
  padding-top: 50px;
  padding-left: 10px; */
}

h1 span {
  font-size: 45px;
}

h1, h2, .serving-size {
  font-family: 'Cormorant', serif;
}

h1 span, .serving-size {
  color: #2E8030;
}

.hide {
  display: none;
}

button {
  background: #BF5136;
  font-size: 32px;
  color: white;
}

.pasta-picture img{
  width: 60%;
  padding-bottom: 1rem;
}

/* Step #1 - Ingredients */
.hook {
  font-size: 25px;
}

/* Step #2 - Cooking the Pasta */
.cook-pasta {

}

/* Step #3 - Making the Sauce */
.prepare-sauce {

}

/* Step #4 - Presentation */
.presentation {

}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;

}


/* Step #5 - Enjoy */
.enjoy {

}

.wine h1{
  
}

.closing {
  color: #2E8030;
}
